body {
    margin: 0;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: #31872e;
    text-align: center;
    margin-bottom: 30px;
}

#surveyContainer {
    flex-grow: 1;
    border: 1px solid #e6e6e6;
    /* border-radius: 8px; */
    /* overflow: hidden; */
} 